@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.banner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  height: 8rem;
  width: 25rem;
  background-color: var(--navbar-background-color);
  color: var(--text-basic-color);
  border-radius: 20px;
  font-size: 1.7rem;
  font-weight: bold;
  animation: fadein 0.7s ease;
  opacity: 0.8;
  z-index: 999;
}

.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  height: 8rem;
  width: 10rem;
  background-color: transparent;
  color: var(--text-basic-color);
  border-radius: 20px;
  font-size: 1.7rem;
  font-weight: bold;
  animation: fadein 0.7s ease;
  opacity: 0.8;
  z-index: 999;
}

.loading_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
}
