.button {
  background: var(--navbar-background-color);
  text-align: center;
  width: 100%;
  color: var(--text-basic-color);
  font-size: xx-large;
  padding: 0.7rem 0;
  transition: all 150ms ease-in;
  cursor: pointer;
}

.button:nth-child(1) {
  border-right: 2px solid white;
}

.button:hover {
  background: var(--main-background-color);
  color: var(--navbar-background-color);
  font-weight: bold;
}
