.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
}

.contentBox {
  position: absolute;
  display: grid;
  gap: 16px;
  top: 50%;
  left: 50%;
  padding: 12px;
  border: 4px solid var(--navbar-background-color);
  background-color: var(--screen-background-color);
  border-radius: 12px;
  transform: translate(-50%, -50%);
  z-index: 999;
  color: var(--navbar-background-color);
}

.content {
  width: 450px;
  height: 70px;
  overflow: auto;
  font-size: 1rem;
  padding: 0 15px;
  padding-top: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 700;
}

.closeBtn {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}

.btnContainer {
  display: flex;
  gap: 8px;
}

.btnContainer button:hover {
  background-color: var(--navbar-background-color);
  color: var(--screen-background-color);
}

.btnContainer button {
  font-size: 16px;
  transition: all 250ms ease-out;
}

.cancelBtn {
  flex: 1;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.confirmBtn {
  flex: 1;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
