.product {
  margin-bottom: 0.6rem;
  border-bottom: 1px solid var(--navbar-background-color);
  padding-bottom: 2.6rem;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  text-align: end;
  padding-right: 1rem;
  color: var(--navbar-background-color);
  cursor: pointer;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--navbar-background-color);
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: 0;
  left: 1.3rem;
  border-width: 3px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.text {
  position: relative;
  font-size: 1.3rem;
}

.text__temp {
  position: absolute;
  top: 110%;
  right: 1.2rem;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}
