@keyframes dropdown {
  0% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes dropdownContact {
  0% {
    transform: translateX(-55%);
  }
  100% {
    transform: translateX(0);
  }
}

button {
  cursor: pointer;
}

.navbar {
  display: flex;
  margin-top: auto;
  margin-bottom: 1rem;
  margin-left: 2rem;
  width: 20rem;
}

.navbar__wrapper {
  display: flex;
  position: relative;
}

.navbar__depth1 {
  z-index: 999;
}

.navbar__depth2 {
  z-index: 998;
  animation: dropdown 0.4s ease;
}

.navbar__depth2__contact {
  z-index: 998;
  animation: dropdownContact 0.4s ease;
}

.menu {
  background-color: var(--navbar-background-color);
  border: 1px solid var(--navbar-background-color);
  display: flex;
  align-items: center;
  color: var(--text-basic-color);
  padding: 1rem 4rem 1rem 1rem;
  border-radius: 5px;
  margin: 1rem 0.3rem;
  width: 4rem;
  height: 1.5rem;
  font-size: large;
  font-weight: bold;
}

.menu:hover {
  background-color: var(--main-background-color);
  color: var(--navbar-background-color);
}

.menu__depth2 {
  background-color: var(--navbar-depth2-color);
  border: 1px solid var(--navbar-depth2-color);
  display: flex;
  align-items: center;
  color: var(--text-basic-color);
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 5px;
  margin: 1rem 0.3rem;
  width: 9rem;
  height: 1.5rem;
  font-size: large;
  font-weight: bold;
}

.menu__depth2:hover {
  background-color: var(--main-background-color);
  color: var(--navbar-depth2-color);
}

.menu__depth2__contact {
  background-color: white;
  border: 1px solid var(--navbar-depth2-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-basic-color);
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 5px;
  margin: 1rem 0.3rem;
  width: 15rem;
  height: 1.5rem;
  font-size: large;
  font-weight: bold;
}

.menu__depth2__contact__hidden {
  background-color: var(--navbar-depth2-color);
  border: 1px solid var(--navbar-depth2-color);
  display: flex;
  visibility: hidden;
  align-items: center;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 5px;
  margin: 1rem 0.3rem;
  width: 8rem;
  height: 1.5rem;
}

.name {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.job {
  font-size: 0.7rem;
}

.link {
  display: flex;
  gap: 0.6rem;
  font-size: 1.7rem;
}

.link > p {
  cursor: pointer;
  transition: all 250ms ease;
}

.link > p:hover {
  transform: scale(120%);
}

.link__icon__git {
  color: #060047;
}

.link__icon__twi {
  color: #39b5e0;
}

.link__icon__ins {
  color: #ff5f9e;
}
