.container {
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  height: 100%;
  gap: 3rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  margin: 0 5rem;
  border-radius: 20px;
  transition: all 250ms ease-in;
}

.wrapper:hover {
  background: var(--navbar-background-color);
}

.wrapper:hover .button {
  color: var(--text-basic-color);
}

.button {
  color: #f88020;
  font-size: xx-large;
  font-weight: bold;
  transition: all 250ms ease-in;
}

.pixel {
  width: 200px;
}
