.section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  position: sticky;
  flex: 0;
  width: 100%;
  z-index: 999;
  top: 0;
  text-align: center;
  padding: 0.7rem 0;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 0.5rem;
  background-color: var(--navbar-background-color);
  color: var(--text-basic-color);
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttons {
  display: flex;
  position: sticky;
  bottom: 0;
  transform: translateY(2%);
  justify-content: space-around;
  margin-top: 1rem;
  font-weight: bold;
}
