.help {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  position: sticky;
  flex: 0;
  width: 100%;
  z-index: 999;
  top: 0;
  text-align: center;
  padding: 0.7rem 0;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 0.5rem;
  background-color: var(--navbar-background-color);
  color: var(--text-basic-color);
}

.main {
  flex: 1;
}
