.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  position: sticky;
  width: 100%;
  top: 0;
  text-align: center;
  padding: 0.7rem 0;
  font-size: xx-large;
  margin-bottom: 1rem;
  background-color: var(--navbar-background-color);
  color: var(--text-basic-color);
}

.header__button {
  position: absolute;
  right: 20px;
  transition: all 150ms ease-in;
  cursor: pointer;
}

.title {
  font-weight: bolder;
}

.header__button:hover {
  transform: scale(120%);
}

.box {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  padding: 1rem;
}

.form {
  display: flex;
  width: 100%;
}

.input {
  padding: 1rem;
  width: 100%;
  outline: none;
  border: none;
  border-top: 6px solid var(--navbar-background-color);
  background-color: var(--screen-background-color);
  color: var(--navbar-background-color);
  font-size: 1.5rem;
  text-align: end;
  font-weight: bold;
}

.button {
  cursor: pointer;
  min-width: 3.5rem;
  background-color: var(--navbar-background-color);
  border-top: 6px solid var(--navbar-background-color);
  border-left: 6px solid var(--navbar-background-color);
  color: var(--text-basic-color);
  font-size: 2.5rem;
  text-align: center;
  padding-right: 4px;
  transition: all 150ms ease-in;
}

.button:hover {
  color: var(--navbar-background-color);
  background-color: var(--screen-background-color);
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--navbar-background-color);
  padding: 1rem 0;
  width: 85%;
  border-bottom: 1px solid var(--navbar-background-color);
  margin-bottom: 1rem;
}

.card__name {
  font-size: 22px;
  margin-left: 1rem;
}

.cover {
  align-items: center;
  font-size: 1.5rem;
  transition: all 150ms ease-in;
  padding-right: 1rem;
}

.cover:hover {
  transform: scale(120%);
  color: red;
}
