.wrapper {
  display: flex;
  height: 100vh;
}

.typeit {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 120px;
  color: var(--navbar-background-color);
  padding: 2rem;
  margin-top: 6rem;
}

.burger_image {
  margin-top: 7rem;
  /* width: 250px; */
}

.typeit_hidden {
  display: none;
}

.outlet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.outlet_hidden {
  display: none;
}

.phone {
  width: 600px;
  height: 690px;
  border: 5px solid var(--navbar-background-color);
  background: var(--screen-border-color);
  border-radius: 10px;
  position: relative;
}

.screen {
  background: var(--screen-background-color);
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  font-family: "NEXON Lv1 Gothic OTF";
}

.body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.footer {
  width: 17rem;
}
