@font-face {
  font-family: "Ramche";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  /* background-color: #fecd51; */
  background-color: var(--main-background-color);
  font-family: "Ramche";
}

/* :root {
  --main-background-color: #fff4e4;
  --navbar-background-color: #f88020;
  --navbar-depth2-color: #d06224;
  --screen-border-color: #f88020;
  --screen-background-color: #fff7d4;
  --text-basic-color: white;
} */

/* :root {
  --main-background-color: #212121;
  --navbar-background-color: #14ffec;
  --navbar-depth2-color: #84f5ff;
  --screen-border-color: #323232;
  --screen-background-color: #323232;
  --text-basic-color: #323232;
} */

/* :root {
  --main-background-color: #1e2022;
  --navbar-background-color: #f0f5f9;
  --navbar-depth2-color: #c9d6df;
  --screen-border-color: #393e46;
  --screen-background-color: #393e46;
  --text-basic-color: #1e2022;
} */

/* :root {
  --main-background-color: #20262e;
  --navbar-background-color: #d1d1d1;
  --navbar-depth2-color: #f9f9f9;
  --screen-border-color: #1b262c;
  --screen-background-color: #393e46;
  --text-basic-color: #20262e;
} */

:root {
  --main-background-color: #1e2022;
  --navbar-background-color: #d1d1d1;
  --navbar-depth2-color: #f9f9f9;
  --screen-border-color: #393e46;
  --screen-background-color: #323232;
  --text-basic-color: #1e2022;
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  display: none;
}
