<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>machines json data</title>
</head>
<body>
<!--선택한 데이터 json-->
[{
"min": 31,
"max": 33,
"name": "온도계(탐침1)",
"id": "2",
"na": "0"
}, {
"min": 31,
"max": 33,
"name": "온도계(표면1)",
"id": "56",
"na": "0"
}, {
"min": 34,
"max": 40,
"name": "워크인쿨러",
"id": "4",
"na": "0"
}, {
"min": 10,
"max": 0,
"name": "워크인프리저",
"id": "117",
"na": "0"
}, {
"min": 10,
"max": 0,
"name": "미트프리저",
"id": "18",
"na": "0"

}, {
"min": 10,
"max": 0,
"name": "스페셜티프리저1",
"id": "20",
"na": "0"
}, {
"min": 10,
"max": 0,
"name": "스페셜티프리저2",
"id": "22",
"na": "0"
}, {
"min": 34,
"max": 40,
"name": "냉장유닛(콜라냉장고)",
"id": "58",
"na": "0"
}, {
"min": 34,
"max": 40,
"name": "아이스크림(호퍼)",
"id": "60",
"na": "0"
}, {
"min": 345,
"max": 355,
"name": "메인프라이어1",
"id": "26",
"na": "0"
}, {
"min": 355,
"max": 365,
"name": "멀티프라이어1",
"id": "32",
"na": "1"
}, {
"min": 355,
"max": 365,
"name": "멀티프라이어2",
"id": "62",
"na": "0"
}, {
"min": 120,
"max": 185,
"name": "3조싱크칸(세척온수)",
"id": "39",
"na": "0"
}, {
"min": 69,
"max": 120,
"name": "3조싱크칸(소독수온수)",
"id": "66",
"na": "0"
}, {
"min": 100,
"max": 185,
"name": "핸드싱크(온수)",
"id": "64",
"na": "0"
}, {
"min": 140,
"max": 185,
"name": "PHU내제품온도1",
"id": "44",
"na": "0"
}, {
"min": 140,
"max": 185,
"name": "PHU내제품온도2",
"id": "46",
"na": "0"
}, {
"min": 140,
"max": 185,
"name": "PHU내제품온도3",
"id": "48",
"na": "0"
}, {
"min": 165,
"max": 185,
"name": "리세스힛슈트(구형)1",
"id": "76",
"na": "0"
}, {
"min": 165,
"max": 185,
"name": "딜리버리픽업스테이션1",
"id": "72",
"na": "0"
}, {
"min": 165,
"max": 185,
"name": "딜리버리픽업스테이션2",
"id": "74",
"na": "0"
}]
</body>
</html>